.weather-icon {
    padding-right: 0px;
}

#weather-information {
    margin-bottom: 40px;
}

#add-btn {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.logout-btn {
    margin-top: 10px;
}